<td>{{pallet.title}}</td>
<td>{{pallet.description}}</td>
<td>{{pallet.latitude}}</td>
<td>{{pallet.longitude}}</td>
{{#if canEditAndDelete}}
  <td>{{#link-to 'pallet' pallet}}Show{{/link-to}} - {{#link-to 'pallet.edit' pallet}}Edit{{/link-to}} - <button {{action "delete" pallet}}>Delete</button></td>
{{else}}
  <td>{{#link-to 'pallet' pallet}}Show{{/link-to}}</td>
{{/if}}
