<h4>Create a pallet</h4>

<form {{action 'create' on='submit'}}>
  Title: {{input type='text' value=model.title}}
  <br>
  Description: {{input type='text' value=model.description}}
  <br>
  Latitude: {{input type='text' value=model.latitude}}
  <br>
  Longitude: {{input type='text' value=model.longitude}}
  <br>
  <button type='submit'>Save</button>
</form>

